<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./card.css">
    <title>Document</title>
</head>
<body>
    <section class = "card">
        <div class="card_blur"></div>
        
        <div class = "card_container container">
            <article class="card_description">
                <img src= "../../public/HouseImage.jpg" alt="image" class="card_img">
                <div class="card_shadow"></div>
                <h2 class="card_title">SAKURA</h2>
                
                <div class="card_clip">
                    <!-- <IoInformationCircleOutline size={24} color="#000" /> -->
                </div>
                <div class="info_data">
                    <h2 class="info_title">SAKURA</h2>
                    <p class="info_description">Beautiful beachside house in the middle of the city, with astonishing mountains views, and clear of aerospace contamination</p>
                    <h3 class="info_price">$600</h3>
                    <button class="info_button">Book</button>
                </div>
            </article>

        </div>

    </section>
</body>
</html>