/* GOOGLE Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* VARIABLES CSS */

:root {

    /* Colors */
    --hbnb-color: #ff5a5f;
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    /* Font */
    --body-font: "Nunito", sans-serif;
    --font-regular: 400;
    --font-semi_bold: 600; 
    --font-bold: 700;
}

/* RESPONSIVE TYPOGRAPHY */

@media screen and (min-width: 1150px) {
    :root {
    --biggest-font-size: 2rem;
    --big-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    }
}

    /* BASE */

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        font-family: var(--body-font);
    }

    a {
        text-decoration: none;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    /* REUSABLE CSS CLASSES */

    /* CARD */

    .card {
        width: 340px;
        border-radius: 1rem;
        height: auto;
        display: flex;
        place-content: center;
        position: relative;
    }

    .card_blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(24px);
    }

    .card_container {
        position: relative;
        display: grid;
        justify-content: center;
        gap: 2rem;
    }

    .card_description {
        display: inline-block;
        position: relative;
        border-radius: 1rem;
        transition: transform .4s;
        overflow: hidden;
    }

    .card_img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        transition: transform .4s;
    }

    .card_shadow{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 70%,
                hsl(0, 0%, 0%) 100%);
    }

    .container .card_title {
        color: var(--white-color);
        position: absolute;
        left: 2rem;
        bottom: 2rem;
        font-size: var(--big-font-size);
        margin-bottom: .25rem;
        border: none;

    }

    .card_clip {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background-color: var(--white-color);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        color: var(--black-color);
        z-index: 5;
        cursor: pointer;
        transition: transform .9s;
    }

    .card_description:hover .card_img {
        transform: scale(1.1);
    }


    /* CARD INFO */

    .info_data {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
        padding: 3rem 1.5rem 1.5rem;
        color: var(--white-color);
        clip-path: circle(8px at 88% 9%);
        transition: clip-path .5s ease-in-out;

    }

    .info_data .info_title {
        color: var(--white-color);
        font-size: var(--biggest-font-size);
        margin-bottom: .5rem;
    }

    .info_description {
        font-size: var(--normal-font-size);
        margin-bottom: 1.5rem;
    }

    .info_price {
        font-size: var(--big-font-size);
        margin-bottom: .5rem;
    }

    .info_button {
        display: inline-flex;
        background-color: #ff5a5f;
        padding: 0.75rem;
        border-radius: 0.5rem;
        border: none;
        color: var(--white-color);
        font-size: var(--normal-font-size);
        font-weight: var(--font-semi_bold);
        transition: box-shadow .4s;
    }

    .info_button:hover {
        box-shadow: 0 0 10px
    }

    /* ROTATE ICON */
    .card_description:hover .card_clip {
        box-shadow: 0 0 16px 4px var(--white-color);
        transform:  rotate(360deg);
    }

    /* CLIP ANIMATION */
    .info_data:hover,
    .card_clip:hover ~ .info_data {
        clip-path: circle(100%);
    }